.register__page {
    position: relative;
    min-height: 100vh;
}

.register__nav {
    z-index: 2;
    position: relative;
    padding: 16px 5%;
}

.register__background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.register__layout {
    z-index: 2;
    position: relative;
    min-height: calc(100vh - 80px - 128px);
}

.register__inner {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 80px - 128px);
}

.register__inner, .register__background {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.register--logo {
    height: 48px;
}
.register__background--left {
    background-color: var(--black);
}

.register__background--right {
    background-color: var(--white);
}

.register__left {
   height: 100%;
}

.register__bottom {
    border-top: 1px solid var(--grayText);
}

.register__bottom span {
    text-wrap: nowrap;
}

.register__right {
    align-content: center;
}

.register__step {
    max-width: 600px;
    width: fit-content;
    margin: auto;
}

.register__step .dropdown, .register__step .input__container {
    margin-bottom: 0;
}

.register__btns {
    justify-content: flex-end;
    margin-top: 16px;
}

#register-third .dropdown {
    margin-bottom: 16px;
}

.register__step .dropdown-inner {
    border: none;
    background-color: var(--lightGray);
    padding: 0.8rem 1rem;
    color: var(--black);
    cursor: pointer;
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.register__page .dropdown:hover .dropdown-inner {
    border: none;
    outline: none;
    background-color: var(--lightGrayHover);
}

.register__page label {
    font-weight: 500;
    font-size: .9rem;
}

.agreement {
    grid-column: span 2;
}

.agreement .input__container {
    flex-direction: row;
    gap: 16px;
}

.agreement label {
    width: fit-content;
}

.agreement input {
    width: fit-content;
}

@media only screen and (max-width:768px) { 
    .register__background {
        display: none;
    }

    .register__layout {
        padding-block: 0;
        min-height: calc(100vh - 58px);
    }

    .register__inner {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 58px);
    }

    .register__left {
        background-color: var(--black);
        gap: 16px;
        padding: 16px 2%;
    }

    .register__nav {
        height: fit-content;
        background-color: var(--black);
        padding-block: 8px;
        align-items: center;
    }

    .register--logo {
        height: 32px;
    }

    .register__left h1 {
        display: none;
    }

    .register__left .steps__header {
        flex-direction: row !important;
        justify-content: space-between;
        gap: 8px;
        width: 100%;
    }

    .register__left .steps__header--item {
        font-size: 0.8rem;
        flex-direction: column;
        display: flex;
        flex-basis: 0;
        align-items: center;
        text-align: center;
    }

    .register__left .steps__header--item svg {
        font-size: 1rem;
    }

    .register__right {
        margin-block: auto;
        padding-block: 32px;
    }

    .register__btns .button:nth-child(2) {
        margin-left: auto;
    }
}