table{
    max-height: calc(100% - 80px);
}

.t-header {
    text-align: left;
    background-color: var(--red);
    color: var(--primary);
    text-transform: capitalize;
}

.t-header-cell, .t-cell{
    border-radius: var(--corner);
    padding: 4px 12px;
    letter-spacing: normal;
}

.t-header-cell:hover {
    cursor: pointer;
    color: var(--greyTextHover);
    outline: 2px var(--red) solid;
    outline-offset: -2px;
    background-color: var(--primary);
    cursor: pointer;
}

.t-body tr:nth-child(even){
    background-color: var(--secondary);
}

.t-body tr:hover {
    background-color: var(--lightBlue);
    cursor: pointer;
}