.dashboard {
    display: grid;
    grid-template-columns: 15% 85%;
}

.dash__left {
    min-height: 100vh;
    height: 100%;
    position: relative;
    width: 100%;
    background-color: var(--black);
}

.dash__left__inner {
    position: sticky;
    height: 100%;
    top: 0;
    width: 100%;
}

.dash__right {
    width: 100%;
    min-height: 100vh;
    background-color: var(--white);
}

.dashboard .logo {
    height: 64px;
}

.dash__left__inner .button {
    width: 100%;
    justify-content: flex-start;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}