.cities__block {
    display: grid;
    grid-template-columns: 45% 55%;
    height: calc(100vh - 64px);
    position: relative;
}

.city--img {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 64px);
    -webkit-box-shadow: 0px 0px 20px -10px rgba(47,47,47,1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(47,47,47,1);
    box-shadow: 0px 0px 20px -10px rgba(47,47,47,1);
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.cities__text {
    padding-left: 16%;
    padding-right: 64px;
}

.cities--header {
    text-transform: uppercase;
    color: var(--darkGray);
}

.city__content {
    background-color: var(--black);
    padding: 64px;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(47,47,47,1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(47,47,47,1);
    box-shadow: 0px 0px 20px -10px rgba(47,47,47,1);
    
    transform: translateX(10%);
    width: 100%;
}

.cities__text {
    position: relative;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.city__content.animated > * {
    opacity: 0;
    animation: 1s ease-in-out animate forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(20%);
    } 
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}