header {
    width: 100%;
    padding: 16px 8%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all .5s ease-in-out;
    background-color: transparent;
}

.nav__right {
    display: flex;
}

header .button {
    display: flex;
    max-height: 48px;
    width: fit-content;
    text-wrap: nowrap;
    padding: 1rem;
}

.logo {
    height: 64px;
    width: auto;
    object-fit: cover;
    margin-right: 5%;
}



@media only screen and (max-width:1280px) { 
    header .logo {
        height: 48px;
    }
}

@media only screen and (max-width:1140px) { 
    header .logo {
        height: 32px;
    }
}

@media only screen and (min-width:992px) { 
    .home__btns .button {
        font-size: 1rem;
    }
}


@media only screen and (max-width:992px) {
    header {
        padding: 8px 2%;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        height: 50vh;
        width: 100vw;
        align-items: flex-start;
    }


    .nav__right {
        margin-left: auto;
        position: relative;
    }

    header .icon--button {
        padding: 0.4rem;
        font-size: 1.8rem;
        order: 5;
        color: var(--white) !important;
    }

    .nav__items {
        display: none;
    }

    header .home__btns {
        top: calc(25vh + 4rem);
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }
}