/*HOME PAGE*/
.app__home {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 32px;
}

.app__home .user__home__header {
    grid-column: span 10;
}

.user__home__header__inner {
    display: grid;
    grid-template-columns: 128px repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
    column-gap: 32px;
}

.app__home .new__messages {
    grid-column: span 3;
}

.app__home .app__home__calendar {
    grid-column: span 7;
}

.app__home .info__card {
    max-width: 200px;
    padding: 0;
}

.app__home .info__card--name {
    font-size: 1rem;
    font-weight: 400;
    color: var(--grayText);
}

.app__home .info__card--data {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.user__info__bottom {
    border-top: 2px solid var(--lightGray);
}

.user__home__header .progress-container {
    border-right: 2px solid var(--lightGray);
    padding-right: 32px;
    grid-row: 2;
    grid-column: 2;
}

.user__statistics {
    width: 100%;
}

.user-checked {
    border-radius: var(--radius);
    padding: 4px 8px;
}

.user-checked.ok {
    background-color: var(--lightGreen);
    color: var(--darkGreen);
   /* border: 1px solid var(--darkGreen);*/
}

.user-checked.nok {
    background-color: var(--lightRed);
    color: var(--darkRed);
    /*border: 1px solid var(--darkRed);*/
}

.profile--img.small {
    grid-row: span 3;
}

.user__statistics {
    grid-row: 2;
    grid-column: 3 / span 3;
}

.user__home__name {
    border-bottom: 2px solid var(--lightGray);
    grid-column: span 4;
    padding-bottom: 16px;
}

@media only screen and (max-width:992px) {
    .app__home .user__home__header {
        grid-column: span 10;
    }
    
    .app__home .new__messages {
        grid-column: span 10;
    }
    
    .app__home .app__home__calendar {
        grid-column: span 10;
    }

    .user__home__header__inner {
        grid-template-rows: repeat(3,auto);
        column-gap: 16px;
    }

    .profile--img.small {
        grid-row: span 2;
    }
    
    .user__statistics {
        grid-row: 3;
        grid-column: 1 / span 5;
        margin-top: 32px;
        padding-bottom: 16px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border-bottom: 2px solid var(--lightGray);
    }
    
    .user__home__name {
        border-bottom: 2px solid var(--lightGray);
        grid-column: span 4;
        padding-bottom: 16px;
    }

    .user__home__header .progress-container {
        border-right: none;
        padding-right: 0;
        grid-column: 2 / span 4;
    }
}