table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--white);
    background: var(--white);
    -webkit-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.6);
    box-shadow: 0px 0px 20px -15px rgba(0,0,0,0.6);
    margin-bottom: 8px;
}

th {
    cursor: pointer;
    /*padding-bottom: 8px;*/
    width: fit-content;
    padding-block: 16px;
    padding-left: 8px;
    
}


.column--filter {
    background-color: var(--white);
    width: fit-content;
    padding: 4px 8px;
    max-width: 128px;
}


.column--filter:hover, .column--filter:focus, .column--filter:active {
    background-color: vaR(--lightGray) ;
}

.col--name {
    text-align: left;
    margin-bottom: 8px;
    padding-left: 8px;
}

tbody tr:hover {
    background-color: var(--lightGray);
}

tr:not(:first-child) {
    border-block: 1px solid var(--lightGray);
}

td {
    padding: 16px;
    
}