.tabs__container {
    width: 100%;
}

.tabs__body {
    width: 100%;
}

.tabs__header {
    background: var(--white);
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 20px -10px rgba(0,0,0,0.1);
    width: fit-content;
    margin-inline: auto;
}

.tabs__header--item {
    padding: 0.4rem 0.6rem;
    background-color: vaR(--white);
    color: var(--black);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.tabs__header--item.active {
    background-color: var(--black);
    color: var(--white);
}

.tabs__header--item:hover{
    background-color: var(--lightGray);
    color: var(--black);
}

/*.tabs__header--item:first-child {
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.tabs__header--item:last-child {
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}*/