.profile__grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 64px;
}

.profile__top {
    display: flex;
    gap: 64px;
}

.profile--img img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 5%;
    -webkit-box-shadow: 4px 13px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 13px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 13px 20px 0px rgba(0,0,0,0.1);
    max-width: 150px;
    max-height: 150px;
}

.profile--img.small img {
    height: 128px;
    width: 128px;
}

.profile__check {
    color: var(--black);
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}

.profile__btns {
    margin-top: auto;
}

.profile__btns .button {
    font-size: 0.9rem;
    padding: 8px;
    height:fit-content;
}

.profile__right .textarea__container {
    display: block;
}

.profile__right textarea {
    background-color: var(--lightGray);
    border-radius: var(--radius);
}

.profile__right textarea {
    background-color: transparent;
}

.profile__right textarea:not(:disabled):hover,
.profile__right textarea:not(:disabled):focus,
.profile__right textarea:not(:disabled):active {
    background-color: var(--lightGrayHover);
}

.profile__header .image__input {
    max-width: 150px;
    max-height: 150px;
}

.profile__statistics {
    border-top: 1px solid var(--lightGray);
    border-bottom: 1px solid var(--lightGray);
}

@media only screen and (max-width:768px) { 

    .profile__grid {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .profile__grid textarea {
        max-height: 100%;
        height: 500px;
        padding-inline: 0;
    }

    .profile__btns {
        flex-direction: column;
        gap: 8px;
    }

   .profile__statistics {
    flex-direction: column;
    gap: 16px;
   }
}