.schedule {
    display: flex;
    flex-direction: column;
  }

  .top-days__sched {
    width: 100%;
  }

  .default__sched
  .schedule__grid-header,
  .default__sched
  .schedule__row
    {
    display: grid;
    grid-template-columns: auto repeat(11, calc(100% / 12));
    align-items: center;
    min-height: 48px;
  }

  .top-days__sched
  .schedule__grid-header,
  .top-days__sched
  .schedule__row
    {
    display: grid;
    grid-template-columns: 60px repeat(7,auto);
    align-items: center;
    min-height: 48px;
  }

  .schedule__row:nth-child(even)
  {
    background-color: var(--lightGray);
  }
  
  .schedule__day {
    font-weight: bold;
    text-align: center;
    height: 100%;
    align-content: center;
  }
  


  .schedule__hour,
  .schedule__cell {
    text-align: center;
    border-left: 1px solid var(--darkGray);
    height: 100%;
    align-content: center;
  }

  .top-days__sched .schedule__hour {
    width: 60px;
  }

    /*.schedule__hour{
        border-left: 1px solid var(--darkGray);
    }  */
  
  .schedule__event {
    font-size: 1rem;
    background-color: var(--lightGreen);
    color: var(--darkGreen);
    padding: 8px;
    height: 100%;
    align-content: center;
    box-sizing: border-box;
    position: relative;
  }

  .schedule__event--back {
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    transition: 0.2s all ease-in-out;
    align-content: center;
  }

  .schedule__event--back .button {
    height: 100%;
    width: 100%;
    align-content: center;
    border-radius: none;
    margin: auto;
    padding:8px;
    font-size:0.9rem;
  }

  .schedule__event--back .button:hover {
    background-color: var(--red);
    color: var(--white);
    border-radius: none;
  }

  .schedule__event:hover .schedule__event--back {
    opacity: 1;
    z-index: 1;
    top: 0;
  }

  .schedule--corner {
    height: 100%;
    align-content: center;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
  
