.box {
  box-sizing: border-box;
}

.w-fit {
  width: fit-content;
}

.w-full {
  width: 100%;
}

.h-fit {
  height: fit-content;
}

.h-full {
  height: 100%;
}

.p-0 {
  padding: 0;
}

.py-8 {
  padding-block: 8px;
}

.py-16{
    padding-block: 16px;
  }
  
  .py-32{
    padding-block: 32px;
  }
  
  .py-64 {
    padding-block: 64px;
  }

  .px-8 {
    padding-inline: 8px;
  }
  
  .px-16{
    padding-inline: 16px;
  }
  
  .px-32{
    padding-inline: 32px;
  }
  
  .px-64{
    padding-inline: 64px;
  }

  .pb-8 {
    padding-bottom: 8px;
  }
  
  .pb-16{
    padding-bottom: 16px;
  }
  
  .pb-32{
    padding-bottom: 32px;
  }
  .pb-64 {
    padding-bottom: 64px;
  }
  
  .pt-16{
    padding-top: 16px;
  }
  
  .pt-32{
    padding-top: 32px;
  }
  
.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-32 {
  padding: 32px;
}

.p-64 {
  padding: 64px;
}

.m-16 {
  margin: 16px;
}

.m-32 {
  margin: 32px;
}

.m-64 {
  margin: 64px;
}

.my-auto {
  margin-block: auto;
}

.my-8{
  margin-block: 8px;
}
  
  .my-16{
    margin-block: 16px;
  }
  
  .my-32{
    margin-block: 32px;
  }

  .my-64 {
    margin-block: 64px;
  }
  
  .mx-16{
    margin-inline: 16px;
  }
  
  .mx-32{
    margin-inline: 32px;
  }

  .mb-8 {
    margin-bottom: 8px;
  }
  
  .mb-16{
    margin-bottom: 16px;
  }
  
  .mb-32{
    margin-bottom: 32px;
  }

  .mb-64 {
    margin-bottom: 64px;
  }

  .mb-128 {
    margin-bottom: 128px;
  }

  .mt-auto {
    margin-top: auto;
  }
  
  .mt-8 {
    margin-top: 8px;
  }
  
  .mt-16{
    margin-top: 16px;
  }
  
  .mt-32{
    margin-top: 32px;
  }
  
  .mt-64{
    margin-top: 64px;
  }

  .mt-

.mr-8 {
  margin-right: 8px;
}  

.m-0 {
  margin: 0;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-inline: auto;
}

.fit {
  height: fit-content;
  width: fit-content;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

