#home-page .right {
    display: grid;
    grid-template-columns: 300px auto;
    column-gap: 10%;
    row-gap: 64px;
}


.mobile__app {
    grid-row: 2;
    grid-column: span 2;
    border-top: 2px solid var(--lightGray);
}

.mobile__app .button {
    height: fit-content;
}

.home__images {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
}

.home__images img {
    border-radius: var(--radius);
    position: absolute;
    width: 80%;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.1);
}

.home__images img:first-child {
    top: 0;
    left: 0;
}

.home__images img:last-child {
    bottom: 0;
    right: 0;
}

@media only screen and (max-width:992px) { 
    #home-page .right {
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .home__images {
        grid-column: 1;
        grid-row: 2;
    }

    .home__images img {
        position: relative;
        width: 100%;
    }

    .home__images img:first-child {
        margin-bottom: 16px;
    }

    .mobile__app {
        grid-row: 3;
        grid-column: span 1;
        flex-direction: column;
    }
}