.body__section.pad {
    padding-inline: 8%;
    width: 100%;
    box-sizing: border-box;
    
}

.body__section {
    padding-block: 64px;
}

.body__section.pad .section__inner {
    margin: 0 auto;
    max-width: 1400px;
}

.body__section.grey {
    background-color: var(--lightGray);
}

.body__section.black {
    background-color: var(--black);
    color: var(--white);
}

.body__section:first-child, .body__section:nth-child(2) {
    padding-top: 64px;
}

.body__section:last-child {
    padding-bottom: 64px;
}