footer {
    background-color: var(--black);
    height: fit-content;
    padding: 64px 8%;
    z-index: 10;
    position: relative;
}

.footer__bottom {
    grid-column: span 3;
    text-align: center;
}