.profile__form .input__container {
    padding: 0;
    margin: 0;
    width: 100%;
}

.profile__form label {
    align-self: center;
    font-size: 0.9rem;
}

/* Obecné pravidlo pro disabled prvky */
.profile__form input:disabled,
.profile__form textarea:disabled,
.profile__form .dropdown.disabled {
    cursor: default;
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 1;
}

/* Disabled prvky nesmí měnit vzhled na hover, focus nebo active */
.profile__form input:disabled:hover,
.profile__form input:disabled:focus,
.profile__form input:disabled:active,
.profile__form textarea:disabled:hover,
.profile__form textarea:disabled:focus,
.profile__form textarea:disabled:active,
.profile__form .dropdown.disabled:hover {
    border: none !important;
    outline: none !important;
    background-color: transparent;
}

.profile__form input {
    font-size: 1rem;
    border: none;
    background-color: transparent;
    padding: 0;
    opacity: 1;
    appearance: none;
    font-weight: 600;
}

.profile__form input:not(:disabled) {
    background-color: var(--lightGray);
    padding: 4px 8px;
}

.profile__form input:not(:disabled):hover,
.profile__form input:not(:disabled):focus,
.profile__form input:not(:disabled):active {
    background-color: var(--lightGrayHover);
}

.profile__form .info--title {
    padding-block: 8px;
}

.profile__form .info--data {
    padding: 8px;
}

.profile__form .dropdown {
    width: 100%;
    padding: 0;
}

.profile__form .dropdown.dropdown.disabled .dropdown-inner {
    padding: 0;
    background-color: transparent;
}

.profile__form .dropdown.dropdown.disabled:hover .dropdown-inner{
    background-color: transparent;
}

.profile__form .dropdown-inner {
    padding: 4px 8px;
    border: none;
}

.profile__form .dropdown:hover .dropdown-inner {
    background-color: var(--lightGrayHover);
    border: none;
    padding: 4px 8px;
}

.profile__form .dropdown {
    
    width: 100%;
    background-color: var(--lightGray);
}

.profile__form .selected-option {
    font-weight: 600;
}

.profile__form .profile__infoline--title {
    min-width: 150px;
}

.profile__form .selected-item, .profile__form .selected-item > div {
    font-size: 0.6rem;
    padding: 1px 1px 1px 4px;
}

.profile__form .dropdown.disabled .selected-item , .profile__form .dropdown.disabled .selected-item > div {
    padding: 1px 2px;
}

@media only screen and (max-width:768px){
    .profile__form .profile__infoline--title {
        min-width: 120px;
    }
}