.select__container {
    display: grid;
    grid-template-columns: 128px 256px;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    font-size: 1.2rem;
    width: fit-content;
    position: relative;
}

select {
    border:none;
    background-color: var(--primaryHover);
    padding: 8px 16px;
    color: var(--black);
    cursor: pointer;
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.select__container label {
    width: 100%;
}

select:hover, select:focus, select:active{
    background-color: var(--secondary);
    border: none;
    outline: none;
    color:var(--primary)
}

.select__container option {
    background-color: var(--primaryDark);
    padding: 4px 8px;
    border: none;
    box-shadow: none;
}

.select:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

option {
    color: var(--white) !important;
    background-color: var(--black) !important;
    font-size: 1rem;
    padding: 8px;
    transition: all .2s ease-in-out;
}

option:hover {
    background-color: var(--white) !important;
    color: var(--white) !important;
}

/*můj dropdown*/
.dropdown {
    width: 100%;
    position: relative;
    color: var(--black);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: var(--black);
}

.dropdown-inner {
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
    border: 2px solid var(--lightGrayHover);
    display: flex;
}

.dropdown:hover .dropdown-inner {
    border: 2px solid var(--black);
}

.dropdown-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 2;
    gap: 8px;
    font-weight: 500;
    width: 100%;
}

.dropdown-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 18px);
    row-gap: 4px;
}

.dropdown-chevron {
    font-size: 18px;
    margin-left: auto;
}

.dropdown-chevron:hover {
    cursor: pointer;
}

.dropdown-chevron svg {
    margin: auto;
}



.select-placeholder {
    z-index: 3;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    letter-spacing: normal;
    flex:1;
    min-width: fit-content;
    font-weight: 500;
}

.select-placeholder:hover {
    cursor: pointer;
}

.selected-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    gap: 4px;
    max-height: calc(8px + 2.5rem);
    overflow-y: auto;
}

.selected-item {
    text-transform: uppercase;
    z-index: 3;
    padding: 2px 2px 2px 8px;
    margin-right: 4px;
    cursor: pointer;
}

.dropdown.disabled .selected-item {
    padding: 2px;
    cursor:default;
}

.dropdown .selected-item:hover {
    background-color:var(--black);
}

.dropdown.disabled .selected-item:hover {
    background-color:var(--red);
}

.selected-text {
    font-size: 0.8rem;
}

.option-container {
    display: none;
    -webkit-box-shadow: 4px 13px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 4px 13px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 4px 13px 20px 0px rgba(0,0,0,0.1);
    z-index: 100;
    position: absolute;
    width: fit-content;
    max-width: 200px;
    min-width: 100%;
    max-height: 200px;
    overflow-y: auto;
    color: var(--black);
    text-align: left;
    border-radius: var(--radius);
}

.option {
    background-color: var(--white);
    color: var(--black);
    padding: 4px 16px;
}

.option-container:last-child {
    border:none;
}

.options__group {
    padding: 1rem;
    box-sizing: border-box;
}

.option:hover {
    background-color: var(--black);
    cursor: pointer;
    color: var(--white);
}

.is-opened .option-container {
    display: block;
}

.option.selected {
    background-color: var(--black);
    color: var(--white);
}

.dropdown input {
    border:none !important;
    background-color: var(--lightGray) !important;
    outline: none !important;
}