.reference__card {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 340px auto;
    gap: 64px;
}

.reference--img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1;
}

.reference__content {
    height: fit-content;
    margin: auto;
}