.user__page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 64px;
}

.user__left {
    position: relative;
    height: 100%;
}

.user__left__inner {
    position: sticky;
    height: fit-content;
    top: 96px;
}

.user__head {
    max-height: 300px;
}

.user--img {
    width: 128px;
    aspect-ratio: 1;
    border-radius: var(--radius);
}

.user__socials {
    margin-top: auto;
}

.user__info__block:not(:last-child) {
    border-bottom: 1px solid var(--lightGray);
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.user--desc {
    line-height: 1.4rem;
}

.profile__infoline--title {
    min-width: 100px;
}

@media only screen and (max-width:768px) {
    .profile__infoline {
        padding-block: 4px;
    }

    .user__info__block:not(:last-child) {
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
 }