.body__section.pad {
    padding-inline: 8%;
    width: 100%;
    box-sizing: border-box;
    
}

.body__section {
    padding-block: 64px;
    position: relative;
}

.body__section.pad .section__inner {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

.body__section.white {
    background-color:var(--white);
}

.body__section.grey {
    background-color: var(--lightGray);
}

.body__section.black {
    background-color: var(--black);
    color: var(--white);
}

/*.body__section:first-child, .body__section:nth-child(2) {
    padding-top: 64px;
}*/

.body__section:last-child {
    padding-bottom: 64px;
}

.main--header {
    font-size: 4rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.main--header::first-letter {
    color: var(--red);
}

.body__section.black .main--header {
    color: var(--white);
}

.section--number{
    text-decoration: underline 6px solid var(--black);
    text-underline-offset: 8px;
    font-size: 4rem;
    position: relative;
}

@media only screen and (max-width:768px) { 
    .body__section.pad {
        padding: 32px 2%;
    }

    .main--header {
        font-size: 2.2rem;
    }

}