/*.upcom__events {
    display: grid;
    grid-template-columns: 1fr 4fr;
}*/

.upcom__events p {
    border-bottom: 1px solid var(--lightGray);
    margin-top: auto;
}

.upcom__events .event__card__sm {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@media only screen and (max-width:600px) { 

    .upcom__events .button {
        display: none;
    }
}