.cities--header {
    text-transform: uppercase;
}

.cities__block .cities--header {
    font-size: 6rem;
    width: 100%;
}

.cities__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.cities__top {
    display: grid;
    gap: 64px;
    grid-template-columns: 7fr 3fr;
}

.slider {
    height: fit-content;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
    background: linear-gradient(to right, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0) 100%);
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    width: max-content;
    gap: 64px;
}

.slide {
    height: fit-content;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media only screen and (max-width:768px) { 
.cities__top {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 16px;
    display: flex;
}

.slider::before,
.slider::after {
    width: 100px;
}

.cities__top p {
    margin-bottom: 0;
}

}